@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* Larger screen sizes */
@media (min-width: 1024px) {
  .scene {
    width: 70vw;
    height: 50vh;
  }
}

/* Smaller screen sizes */
@media (max-width: 768px) {
  .scene {
    width: 90vw;
    height: 70vh;
  }
}

@keyframes jump {
  0% { transform: translateY(0); }
  30% { transform: translateY(-60px); }
  50% {transform: translateY(0); }
  70% { transform: translateY(-30px); }
  80% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.jumping {
  animation: jump 0.5s ease-in-out;
}